{% extends 'vocabs/base.html' %}
{% load static %}

<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
{% block content %}

    <section>
         <h2>Повторение</h2>
        {% for t in terms %}
        <mark>{{ term | length }}</mark> осталось
        <hr>
        {% include "vocabs/repeat.html"%}
        {% endfor %}

        <div class="row align-items-center">
              <div class="col-md-12">
                    <table class="table">
                      <tbody>
                      {% for t in terms %}
                        <tr>
                            <td>{{ t.term }}</td>
                            <td>{{ t.transcript }}</td>
                            <td>{{ t.examples }}</td>
                            <td>{{t.translat}}</td>
                        </tr>
                      {% endfor %}
                      </tbody>
                    </table>
            </div>

          </div>
        </div>


    </section>

{% endblock %}
